---
import { ProductList } from "@/components/products/ProductList"
import Pagination from "@/components/shared/Pagination.astro"
import MainLayout from "@/layouts/MainLayout.astro"
import { actions } from "astro:actions"

const searchParams = Astro.url.searchParams
const pageParam = Number(searchParams.get("page") ?? 1)

const { data, error } = await actions.getProductsByPage({
  page: pageParam
})

if (error) {
  console.error(error)
  return Astro.redirect("/")
}

const { products, totalPages } = data
---

<MainLayout>
  <h1 class="text-3xl">Listado de Productos</h1>

  <ProductList
    client:idle
    products={products}
  />

  <Pagination totalPages={totalPages} />
</MainLayout>
